<form>
<h2>Compose</h2>
<h3>Setups</h3>
<div ng-repeat="setup in test.setup">
	{{setup}}
</div>
<div ng-show="!test.setup.length">No setups</div>
<h3>Test</h3>
<h4>Request</h4>
<div>
	<input type="text" id="id" placeholder="id" ng-model="test.id" />
</div>
<div>
	<strong>Templates: </strong>
	<span ng-repeat="template in test.request.templates" class="templateName" style="background-color: {{getColor($index)}};">
		{{template}}
	</span>
	<div ng-show="!test.request.templates.length">No templates are used</div>
</div>
<div>
	<select id="method" ng-model="test.request.method.value" ng-change="updateBgColor(test.request.method)" ng-style="{'background-color': test.request.method.bgcolor}">
		<option>GET</option>
		<option>POST</option>
		<option>PUT</option>
		<option>DELETE</option>
		<option>HEAD</option>
		<option>OPTIONS</option>
	</select>
	<select id="protocol" ng-model="test.request.protocol.value" ng-change="updateBgColor(test.request.protocol)" ng-style="{'background-color': test.request.protocol.bgcolor}">
		<option value="http">http://</option>
		<option value="https">https://</option>
	</select>
	<input type="text" id="host" ng-model="test.request.host.value" ng-change="updateBgColor(test.request.host)" ng-style="{'background-color': test.request.host.bgcolor}" />
	<input type="text" id="resource" data-provide="typeahead" ng-model="test.request.resource.value" ng-change="updateBgColor(test.request.resource)" ng-style="{'background-color': test.request.resource.bgcolor}" />
</div>
<div>
	<h4>Querystring</h4>
	<div  ng-repeat="qs in test.request.querystring">
		<input type="text" class="qs-name" ng-model="qs.key" />: <input type="text" class="qs-value" ng-model="qs.value" />
		<i class="icon-remove" ng-click="removeQuerystring($index)"></i>
	</div>
	<div ng-show="!test.request.querystring.length">No querystring variables defined</div>
	<div><i class="icon-plus" ng-click="addQuerystring()"></i></div>
</div>
<div>
	<h4>Headers</h4>
	<div ng-repeat="header in test.request.headers">
		<input type="text" class="header-name" ng-model="header.key" ng-change="updateHeaderBgColor(header)" ng-style="{'background-color': header.bgcolor}" />:
		<input type="text" class="header-value"  ng-model="header.value" ng-change="updateHeaderBgColor(header)" ng-style="{'background-color': header.bgcolor}" />
		<i class="icon-remove" ng-click="removeHeader($index)"></i>
	</div>
	<div ng-show="!test.request.headers.length">No headers defined</div>
	<div><i class="icon-plus" ng-click="addHeader()"></i></div>
</div>
<h4>Body</h4>
<div><i id="beautify" class="icon-align-left" onclick="beautify();"></i> <span id='invalidjson' class="label label-warning">Invalid Json</span></div>
	<div id="requestBody" ng-model="test.id"></div>

<h3>Teardowns</h3>
<div ng-repeat="teardown in test.teardown">
	{{teardown}}
</div>
<div ng-show="!test.teardown.length">No teardowns</div>

</form> 
