<!DOCTYPE html>
<html lang="en" ng-app="harvey" ng-csp>
<head>
	<title>Harvey</title>

	<link href="scripts/thirdParty/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="styles/harvey.css" rel="stylesheet" />
	<link href="styles/welcome.css" rel="stylesheet" />
	<link href="styles/navigation.css" rel="stylesheet" />
	<link href="styles/templateList.css" rel="stylesheet" />
	<link href="styles/testList.css" rel="stylesheet" />
	<link href="styles/helperList.css" rel="stylesheet" />
	<link href="styles/template.css" rel="stylesheet" />
	<link href="styles/test.css" rel="stylesheet" />
	<link href="styles/helper.css" rel="stylesheet" />
	<link href="styles/request.css" rel="stylesheet" />
	<link href="styles/response.css" rel="stylesheet" />
	<link href="styles/suite.css" rel="stylesheet" />
</head>
<body ng-controller="NavigationCtrl">
	<div id="welcomeScreen" ng-controller="WelcomeCtrl" ng-class="{fadeWelcome: state=='fading', hideWelcome: state=='hidden'}">
		<h2 class="header">Welcome to Harvey</h2>
		<div class="welcomeContainer">
			<div id="open" ng-click="openFile()" ng-class="'welcomeButton openfile' + openClicked" ng-mousedown="openClicked=' clickTest'" ng-mouseup="openClicked=''">
				<div class="centerText">Open Existing Tests</div>
			</div>
			<div class='or'>
				<div class="centerText">or</div>
			</div>
			<div id="scratch" ng-click="startFromScratch()" ng-class="'welcomeButton scratch' + scratchClicked" ng-mousedown="scratchClicked=' clickTest'" ng-mouseup="scratchClicked=''">
				<div class="centerText">Start From Scratch</div>
			</div>
			<div style="clear: both"></div>
		</div>
	</div>

	<div id="menu" class="menu">
		<div>
			<div ng-class="{menuItem: true, active: selectedMenu=='suite'}" ng-click="menuSelected('suite', 'Suite')">Suite</div>
			<div ng-class="{menuItem: true, active: selectedMenu=='templates'}" ng-click="menuSelected('templates', 'TemplateList')">Templates</div>
			<div ng-class="{menuItem: true, active: selectedMenu=='tests'}" ng-click="menuSelected('tests', 'TestList')">Tests</div>
			<div ng-class="{menuItem: true, active: selectedMenu=='helpers'}" ng-click="menuSelected('helpers', 'HelperList')">Helpers</div>
		</div>
		<div>
			<div class="save" ng-click="save()">Save</div>
			<div class="suiteClose" ng-click="close()">Close</div>
			<div ng-class="{menuPointer: true, suiteActive: selectedMenu=='suite', templatesActive: selectedMenu=='templates', testsActive: selectedMenu=='tests', helpersActive: selectedMenu=='helpers'}">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="height: 8px; width: 24px;">
					<polygon points="12,0 0,8 24,8" style="fill:#555555;stroke:#555555;stroke-width:1" />
				</svg>
			</div>
			<div style="clear: both"></div>
		</div>
	</div>

	<div class="itemContainer">

		<div ng-include src="'templates/' + navigation.view + '.html'" ></div>

	</div>


<script src="scripts/thirdParty/jquery/jquery.min.js"></script>
<script src="scripts/thirdParty/bootstrap/js/bootstrap.min.js"></script>
<script src="scripts/thirdParty/angular/angular.min.js"></script>
<script src="scripts/thirdParty/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/thirdParty/jsbeautifier/beautify.js"></script>
<script src="scripts/thirdParty/underscore/underscore-min.js"></script>

<script src="scripts/harvey.js"></script>
<script src="scripts/services/HarveyContext.js"></script>
<script src="scripts/services/FileSvc.js"></script>
<script src="scripts/services/NavigationSvc.js"></script>
<script src="scripts/services/RequestSvc.js"></script>
<script src="scripts/services/ResponseSvc.js"></script>
<script src="scripts/services/RollupSvc.js"></script>
<script src="scripts/controllers/NavigationCtrl.js"></script>
<script src="scripts/controllers/WelcomeCtrl.js"></script>
<script src="scripts/controllers/TemplateListCtrl.js"></script>
<script src="scripts/controllers/TestListCtrl.js"></script>
<script src="scripts/controllers/HelperListCtrl.js"></script>
<script src="scripts/controllers/TemplateCtrl.js"></script>
<script src="scripts/controllers/TestCtrl.js"></script>
<script src="scripts/controllers/HelperCtrl.js"></script>
<script src="scripts/controllers/RequestCtrl.js"></script>
<script src="scripts/controllers/ResponseCtrl.js"></script>
<script src="scripts/controllers/SuiteCtrl.js"></script>

</body>

</html>
