<!DOCTYPE html>
<html lang="en" ng-app="harvey">
<head>
	<title>Harvey</title>
	
	<link href="scripts/thirdParty/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="styles/harvey.css" rel="stylesheet" />
	<link href="styles/welcome.css" rel="stylesheet" />
	<link href="styles/navigation.css" rel="stylesheet" />
	<link href="styles/templateList.css" rel="stylesheet" />
	<link href="styles/testList.css" rel="stylesheet" />
	<link href="styles/helperList.css" rel="stylesheet" />
	<link href="styles/template.css" rel="stylesheet" />
	<link href="styles/test.css" rel="stylesheet" />
	<link href="styles/helper.css" rel="stylesheet" />
	<link href="styles/request.css" rel="stylesheet" />
	<link href="styles/response.css" rel="stylesheet" />
</head>
<body ng-controller="NavigationCtrl">
	<div id="welcomeScreen" ng-controller="WelcomeCtrl" ng-class="{fadeWelcome: state=='fading', hideWelcome: state=='hidden'}">
		<h2 class="header">Welcome to Harvey</h2>
		<div class="welcomeContainer">
			<div id="open" ng-click="openFile()" ng-class="'welcomeButton openfile' + openClicked" ng-mousedown="openClicked=' clickTest'" ng-mouseup="openClicked=''"><div class="centerText">Open Existing Tests</div></div>
			<div class='or'><div class="centerText">or</div></div>
			<div id="scratch" ng-click="startFromScratch()" ng-class="'welcomeButton scratch' + scratchClicked" ng-mousedown="scratchClicked=' clickTest'" ng-mouseup="scratchClicked=''"><div class="centerText">Start From Scratch</div></div>
			<div style="clear: both"></div>
		</div>
	</div>

	<div id="menu" class="menu">
		<div>
			<div ng-class="{menuItem: true, active: selectedMenu=='templates'}" ng-click="menuSelected('templates', 'TemplateList')">Templates</div>
			<div ng-class="{menuItem: true, active: selectedMenu=='tests'}" ng-click="menuSelected('tests', 'TestList')">Tests</div>
			<div ng-class="{menuItem: true, active: selectedMenu=='helpers'}" ng-click="menuSelected('helpers', 'HelperList')">Helpers</div>
			<div ng-class="{menuItem: true, active: selectedMenu=='save'}" ng-click="save()">Save</div>
		</div>
		<div ng-class="{menuPointer: true, templatesActive: selectedMenu=='templates', testsActive: selectedMenu=='tests', helpersActive: selectedMenu=='helpers'}">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="height: 8px; width: 24px;">
				<polygon points="12,0 0,8 24,8" style="fill:#555555;stroke:#555555;stroke-width:1" />
			</svg>
		</div>
	</div>

	<div class="itemContainer">
	
		<div ng-include src="navigation.view" ></div>
		
	</div>
</body>
<script src="scripts/thirdParty/jquery/jquery.min.js"></script>
<script src="scripts/thirdParty/bootstrap/js/bootstrap.min.js"></script>
<script src="scripts/thirdParty/angular/angular.min.js"></script>
<script src="scripts/thirdParty/google-code-prettify/prettify.js?lan=javascript"></script>
<script src="scripts/thirdParty/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/thirdParty/jsbeautifier/beautify.js"></script>
<script src="scripts/thirdParty/underscore/underscore-min.js"></script>

<script src="scripts/harvey.js"></script>
<script src="scripts/controllers/NavigationCtrl.js"></script>
<script src="scripts/controllers/WelcomeCtrl.js"></script>
<script src="scripts/controllers/TemplateListCtrl.js"></script>
<script src="scripts/controllers/TestListCtrl.js"></script>
<script src="scripts/controllers/HelperListCtrl.js"></script>
<script src="scripts/controllers/TemplateCtrl.js"></script>
<script src="scripts/controllers/TestCtrl.js"></script>
<script src="scripts/controllers/HelperCtrl.js"></script>
<script src="scripts/controllers/RequestCtrl.js"></script>
<script src="scripts/controllers/ResponseCtrl.js"></script>


<script type="text/ng-template" id="Welcome">
</script>

<script type="text/ng-template" id="TemplateList">
	<div id="templateListContainer" ng-controller="TemplateListCtrl" ng-class="{fadeInTemplateList: state=='fadingIn'}">
		<div>
			<input type="text" id="templateSearch" placeholder="Search" class="search" ng-model="searchString" ng-change="filter()"></input>
		</div>
		<div class="requestList">
			<div class="header">
				Request Templates
				<i class="icon-plus"ng-click="createRequestTemplate()"></i>
			</div>
			<div ng-repeat="template in filteredRequestTemplates" ng-class="{template: true, deleting: template.deleting}">
				<div class="templateName">{{template.id}}</div>
				<div class="usedBy">
					Used by {{template.usedByCount}} <ng-pluralize count="template.usedByCount" when="{'one': 'test', 'other': 'tests'}"> </ng-pluralize>

					<div class="templateIcons">
						<i class="icon-edit" ng-click="editRequestTemplate($index)"></i>
						<i class="icon-trash" ng-click="deleteRequestTemplate($index)"></i>
					</div>
				</div>
			</div>
			<div class="noMatches" ng-show="allRequestTemplates.length > 0 && filteredRequestTemplates.length == 0">No Matches</div>
			<div class="empty" ng-show="!allRequestTemplates.length">Empty</div>
		</div>

		<div class="responseList">
			<div class="header">
				<i class="icon-plus" ng-click="createResponseTemplate()"></i>
				Response Templates
			</div>
			<div ng-repeat="template in filteredResponseTemplates" ng-class="{template: true, deleting: template.deleting}">
				<div class="templateName">{{template.id}}</div>
				<div class="usedBy">
					Used by {{template.usedByCount}} <ng-pluralize count="template.usedByCount" when="{'one': 'test', 'other': 'tests'}"> </ng-pluralize>

					<div class="templateIcons">
						<i class="icon-edit" ng-click="editResponseTemplate($index)"></i>
						<i class="icon-trash" ng-click="deleteResponseTemplate($index)"></i>
					</div>
				</div>
			</div>
			<div class="noMatches" ng-show="allResponseTemplates.length > 0 && filteredResponseTemplates.length == 0">No Matches</div>
			<div class="empty" ng-show="!allResponseTemplates.length">Empty</div>
		</div>

		<div style="clear: both;"></div>

	</div>
</script>

<script type="text/ng-template" id="TestList">
	<div id="testListContainer" ng-controller="TestListCtrl"  ng-class="{fadeInTestList: state=='fadingIn'}">
		<i class="icon-plus" style="float:left" ng-click="createTest()"></i>

		<div class="search">
			<input type="text" id="testSearch" class="search" placeholder="Search" ng-model="searchString" ng-change="filter()"></input>
		</div>
		<div ng-repeat="test in filteredTests" ng-class="{test: true, deleting: test.deleting}">
			<div class="testName">{{test.id}}</div>
			<div class="setups">
				Setups: {{test.setup.length}}; Teardowns: {{test.teardown.length}}
				<div class="testIcons">
					<i class="icon-edit" ng-click="editTest($index)"></i>
					<i class="icon-trash" ng-click="deleteTest($index)"></i>
				</div>
			</div>
		</div>
		<div class="noMatches" ng-show="allTests.length > 0 && filteredTests.length == 0">No Matches</div>
		<div class="empty" ng-show="!allTests.length">Empty</div>
	</div>
</script>

<script type="text/ng-template" id="HelperList">
	<div id="helperListContainer" ng-controller="HelperListCtrl" ng-class="{fadeInHelperList: state=='fadingIn'}">
		<i class="icon-plus" style="float:left" ng-click="createHelper()"></i>

		<div class="search">
			<input type="text" id="helperSearch" class="search" placeholder="Search" ng-model="searchString" ng-change="filter()"></input>
		</div>
		<div ng-repeat="helper in filteredHelpers" ng-class="{helper: true, deleting: helper.deleting}">
			<div class="helperName">{{helper.id}}</div>
			<div class="usedBy">
				Used by {{helper.usedByCount}} <ng-pluralize count="helper.usedByCount" when="{'one': 'test', 'other': 'tests'}"> </ng-pluralize>
				<div class="helperIcons">
					<i class="icon-edit" ng-click="editHelper($index)"></i>
					<i class="icon-trash" ng-click="deleteHelper($index)"></i>
				</div>
			</div>
		</div>
		<div class="noMatches" ng-show="allHelpers.length > 0 && filteredHelpers.length == 0">No Matches</div>
		<div class="empty" ng-show="!allHelpers.length">Empty</div>
	</div>
</script>


<script type="text/ng-template" id="Template">
	<div id="templateContainer" ng-controller="TemplateCtrl" ng-class="{fadeInTemplate: state=='fadingIn'}">
		<div class="container">
			<input class="id" type="text" ng-model="id" placeholder="Template Id"/>
		</div>
		<div ng-include src="templateType" ></div>
		<div class="save" ng-show="changed">
			<div class="btn btn-info" ng-click="keep()">Keep</div>
			<div class="btn" ng-click="discard()">Discard</div>
		</div>
	</div>
</script>


<script type="text/ng-template" id="Test">
	<div id="testContainer" ng-controller="TestCtrl" ng-class="{fadeInTest: state=='fadingIn'}">
		<input class="id" type="text" ng-model="id" placeholder="Test Id"/>

		<div class="container setupsContainer">
			<div class="header">Setups  <i class="icon-plus" ng-click="showAddSetup=true"></i></div>
			<div ng-repeat="setup in test.setup" class="setupName">
				<i class="icon-move"></i>
				{{setup}}
				<i class="icon-trash" ng-click="removeSetup($index)"></i>
			</div>
			<div class="newSetupIdContainer" ng-show="showAddSetup">
				<input id="newSetupId" class="newSetupId" type="text" placeholder="Setup Id" data-provide="typeahead" ng-model="newSetupId" />
			</div>
			<div ng-show="!test.setup.length && !showAddSetup" class="empty inline">None</div>
		</div>
		
		<div class="container teardownsContainer">
			<div class="header">Teardowns  <i class="icon-plus" ng-click="showAddTeardown=true"></i></div>
			<div ng-repeat="teardown in test.teaardown" class="teardownName">
				<i class="icon-move"></i>
				{{setup}}
				<i class="icon-trash" ng-click="removeTeardown($index)"></i>
			</div>
			<div class="newTeardownIdContainer" ng-show="showAddTeardown">
				<input id="newTeardownId" class="newTeardownId" type="text" placeholder="Teardown Id" data-provide="typeahead" ng-model="newTeardownId" />
			</div>
			<div ng-show="!test.teardown.length && !showAddTeardown" class="empty inline">None</div>
		</div>

		<div style="clear:both;"></div>
		<div class="testRequestContainer">
			<div class="header">Request</div>
			<div ng-include src="'Request'" ></div>
		</div>
		<div class="testResponseContainer">
			<div class="header">Expected Response</div>
			<div ng-include src="'Response'" ></div>
		</div>
		<div class="testActionContainer">
			<div class="header">Actions</div>
			Under Construction
		</div>
		<div class="save" ng-show="changed">
			<div class="btn btn-info" ng-click="keep()">Keep</div>
			<div class="btn" ng-click="discard()">Discard</div>
		</div>
	</div>
</script>


<script type="text/ng-template" id="Helper">
	<div id="helperContainer" ng-controller="HelperCtrl" ng-class="{fadeInHelper: state=='fadingIn'}">
		<input class="id" type="text" ng-model="id" placeholder="Helper Id"/>
		<div style="clear:both;"></div>
		<div class="helperRequestContainer">
			<div class="header">Request</div>
			<div ng-include src="'Request'" ></div>
		</div>
		<div class="helperResponseContainer">
			<div class="header">Expected Response</div>
			<div ng-include src="'Response'" ></div>
		</div>
		<div class="helperActionContainer">
			<div class="header">Actions</div>
			Under Construction
		</div>
		<div class="save" ng-show="changed">
			<div class="btn btn-info" ng-click="keep()">Keep</div>
			<div class="btn" ng-click="discard()">Discard</div>
		</div>
	</div>
</script>


<script type="text/ng-template" id="Request">

	<div id="requestContainer" ng-controller="RequestCtrl">
		<div class="container templatesContainer" ng-show="displayTemplates">
			<div class="header">Templates  <i class="icon-plus" ng-click="showAddRequestTemplate=true"></i></div>
			<div ng-repeat="template in request.templates" class="templateName" style="background-color: {{getColor($index)}};">
				<i class="icon-move"></i>
				{{template}}
				<i class="icon-trash" ng-click="removeTemplate($index)"></i>
			</div>
			<div class="newTemplateIdContainer" ng-show="showAddRequestTemplate">
				<input id="newRequestTemplateId" class="newTemplateId" type="text" placeholder="Template Id" data-provide="typeahead" ng-model="newTemplateId" />
			</div>
			<div ng-show="!request.templates.length && !showAddRequestTemplate" class="empty inline">None</div>
		</div>
	
		<div class="container">
			<select id="method" ng-class="{method: true, placeholder: methodEmpty}" ng-model="request.method.value" ng-change="methodChanged()" ng-style="{'background-color': getBgColor(request.method)}">
				<option value='' ng-disabled="methodEmpty" ng-class="{hide: methodEmpty}">{{methodPlaceholder}}</option>
				<option>GET</option>
				<option>POST</option>
				<option>PUT</option>
				<option>DELETE</option>
				<option>HEAD</option>
				<option>OPTIONS</option>
			</select>
			<select id="protocol" ng-class="{protocol: true, placeholder: protocolEmpty}" ng-model="request.protocol.value" ng-change="protocolChanged()" ng-style="{'background-color': getBgColor(request.protocol)}">
				<option value='' ng-disabled="protocolEmpty" ng-class="{hide: protocolEmpty}">{{protocolPlaceholder}}</option>
				<option value="http">http://</option>
				<option value="https">https://</option>
			</select>
			<input type="text" id="host" class="host" placeholder="Host" ng-model="request.host.value" ng-style="{'background-color': getBgColor(request.host)}" />
			<input type="text" id="resource" class="resource" placeholder="Resource" data-provide="typeahead" ng-model="request.resource.value" ng-style="{'background-color': getBgColor(request.resource)}" />
		</div>
		<div class="container">
			<div class="header">Querystring <i class="icon-plus" ng-click="addQuerystring()"></i></div>
			<div  ng-repeat="qs in request.querystring">
				<input type="text" class="qs-name" placeholder="Variable Name" ng-model="qs.key" />: <input type="text" class="qs-value" placeholder="Variable Value" ng-model="qs.value" />
				<i class="icon-trash" ng-click="removeQuerystring($index)"></i>
			</div>
			<div ng-show="!request.querystring.length" class="empty">None</div>
		</div>
		<div class="container">
			<div class="header">Headers <i class="icon-plus" ng-click="addHeader()"></i></div>
			<div ng-repeat="header in request.headers">
				<input type="text" class="header-name" placeholder="Header Name" ng-model="header.key" ng-style="{'background-color': getHeaderBgColor(header)}" />:
				<input type="text" class="header-value" placeholder="Header Value"  ng-model="header.value" ng-style="{'background-color': getHeaderBgColor(header)}" />
				<i class="icon-trash" ng-click="removeHeader($index)"></i>
			</div>
			<div ng-show="!request.headers.length" class="empty">None</div>
		</div>
		<div class="container">
			<div class="header">Body
				<div class="bodyTools">
					<i id="beautify" class="icon-align-left" ng-click="formatBody()"></i>
					<span id="invalidjson" ng-show="validjson==false" class="label label-warning">Invalid Json</span>
				<div>
			</div>
		</div>
		<div id="requestBody" class="requestBody"  ng-style="{'background-color': getBgColor(request.body)}"></div>
	</div>
	
</script>

<script type="text/ng-template" id="Response">

	<div id="responseContainer" ng-controller="ResponseCtrl">
		<div class="container templatesContainer" ng-show="displayTemplates">
			<div class="header">Templates  <i class="icon-plus" ng-click="showAddResponseTemplate=true"></i></div>
			<div ng-repeat="template in response.templates" class="templateName" style="background-color: {{getColor($index)}};">
				<i class="icon-move"></i>
				{{template}}
				<i class="icon-trash" ng-click="removeTemplate($index)"></i>
			</div>
			<div class="newTemplateIdContainer" ng-show="showAddResponseTemplate">
				<input id="newResponseTemplateId" class="newTemplateId" type="text" placeholder="Template Id" data-provide="typeahead" ng-model="newTemplateId" />
			</div>
			<div ng-show="!response.templates.length && !showAddResponseTemplate" class="empty inline">None</div>
		</div>
		<div class="container">
			<div class="header inline">Status Code:</div>
			<input type="text" id="statusCode" class="statusCode" placeholder="Status Code" ng-model="response.statusCode.value" ng-style="{'background-color': getBgColor(response.statusCode)}" />
		</div>
		<div class="container">
			<div class="header">Headers <i class="icon-plus" ng-click="addHeader()"></i></div>
			<div ng-repeat="header in response.headers">
				<input type="text" class="header-name" placeholder="Header Name" ng-model="header.key" ng-style="{'background-color': getHeaderBgColor(header)}" />:
				<input type="text" class="header-value" placeholder="Header Value"  ng-model="header.value" ng-style="{'background-color': getHeaderBgColor(header)}" />
				<i class="icon-trash" ng-click="removeHeader($index)"></i>
			</div>
			<div ng-show="!response.headers.length" class="empty">None</div>
		</div>
		<div class="container">
			<div class="header">Body
				<div class="bodyTools">
					<i id="beautify" class="icon-align-left" ng-click="formatBody()"></i>
					<span id="invalidjson" ng-show="validjson==false" class="label label-warning">Invalid Json</span>
				<div>
			</div>
		</div>
		<div id="responseBody" class="responseBody" ng-style="{'background-color': getBgColor(response.body)}"></div>
	</div>
	
</script>
	
</html>
