	<div id="templateListContainer" ng-controller="TemplateListCtrl" ng-class="{fadeInTemplateList: state=='fadingIn'}">
		<div>
			<input type="text" id="templateSearch" placeholder="Search" class="search" ng-model="searchString" ng-change="filter()"></input>
		</div>
		<div class="requestList">
			<div class="header">
				Request Templates
				<i class="icon-plus"ng-click="createRequestTemplate()"></i>
			</div>
			<div ng-repeat="template in filteredRequestTemplates" ng-class="{template: true, deleting: template.deleting}">
				<div class="templateName">{{template.id}}</div>
				<div class="usedBy">
					Used by {{template.usedByCount}} <ng-pluralize count="template.usedByCount" when="{'one': 'test', 'other': 'tests'}"> </ng-pluralize>

					<div class="templateIcons">
						<i class="icon-edit" ng-click="editRequestTemplate($index)"></i>
						<i class="icon-trash" ng-click="deleteRequestTemplate($index)"></i>
					</div>
				</div>
			</div>
			<div class="noMatches" ng-show="allRequestTemplates.length > 0 && filteredRequestTemplates.length == 0">No Matches</div>
			<div class="empty" ng-show="!allRequestTemplates.length">Empty</div>
		</div>

		<div class="responseList">
			<div class="header">
				<i class="icon-plus" ng-click="createResponseTemplate()"></i>
				Response Templates
			</div>
			<div ng-repeat="template in filteredResponseTemplates" ng-class="{template: true, deleting: template.deleting}">
				<div class="templateName">{{template.id}}</div>
				<div class="usedBy">
					Used by {{template.usedByCount}} <ng-pluralize count="template.usedByCount" when="{'one': 'test', 'other': 'tests'}"> </ng-pluralize>

					<div class="templateIcons">
						<i class="icon-edit" ng-click="editResponseTemplate($index)"></i>
						<i class="icon-trash" ng-click="deleteResponseTemplate($index)"></i>
					</div>
				</div>
			</div>
			<div class="noMatches" ng-show="allResponseTemplates.length > 0 && filteredResponseTemplates.length == 0">No Matches</div>
			<div class="empty" ng-show="!allResponseTemplates.length">Empty</div>
		</div>

		<div style="clear: both;"></div>

	</div>
 
