
	body {
		background-color: #F5F5F5;
	}

	#welcomeScreen {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: #F5F5F5;
		transition: opacity .5s;
		-webkit-transition: opacity .5s;
	}
	
	#welcomeScreen.fadeWelcome{
		opacity: 0;
	}

	#welcomeScreen.hideWelcome{
		display: none;
	}

	
	#welcomeScreen .header {
		text-align: center;
	}

	#welcomeScreen .welcomeContainer {
		width: 468px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#welcomeScreen .welcomeButton {
		position: relative;
		height: 200px;
		width: 200px;
		border-radius: 10px;
		float: left;
		text-align: center;
		vertical-align: center;
		font-size: 25pt;
		line-height: 27pt;
		box-shadow: 5px 5px 5px #888888;
		opacity: 0.75;
		transition: box-shadow .3s, opacity .3s;
		-webkit-transition: box-shadow .3s, opacity .3s;
	}

	#welcomeScreen .welcomeButton:hover {
		box-shadow: 10px 10px 5px #888888;
		opacity: 1;
	}

	#welcomeScreen .clickTest {
		box-shadow: 8px 8px 5px #888888 !important;
		transition: none !important;
		-webkit-transition: none !important;
	}

	#welcomeScreen .clickTransition {
		transition: none !important;
		-webkit-transition: none !important;
	}

	#welcomeScreen .or {
		position: relative;
		height: 200px;
		width: 28px;
		float: left;
		font-size: 25pt;
		margin: 20px;
	}

	#welcomeScreen .centerText {
		position: absolute;
		top: 50%;
		margin-top: -50px;
	}

	#welcomeScreen .openfile {
		background-color: lightblue;
	}

	#welcomeScreen .scratch {
		background-color: lightgreen;
	}



	#menu.menu {
		text-align: center;
	}

	#menu .menuItem {
		display: inline-block;
		margin: 5px;
		padding: 3px;
		font-size: 20pt;
		color: gray;
		transition: color .3s;
		-webkit-transition: color .3s;
	}

	#menu .menuItem:hover {
		color: black;
	}

	#menu .active {
		color: black;
	}

	#menu .menuPointer {
		height: 8px;
		line-height: 8px;
		margin-bottom: 1px;
		transition: margin-left .6s;
		-webkit-transition: margin-left .6s;
	}

	#menu .templatesActive {
		margin-left: -190px;
	}

	#menu .testsActive {
		margin-left: 35px;
	}

	#menu .helpersActive {
		margin-left: 215px;
	}

	


	.itemContainer {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;

		width: 1200px;
		border-style: solid;
		border-color: #888888;
		border-width: 1px 0px;;

		text-align: center;
	}


	#templateListContainer.fadeInTemplateList{
		opacity: 1.0;
	}

	#templateListContainer {
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#templateListContainer .search {
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
	}

	#templateListContainer .template {
		display: inline-block;
		background-color: beige;
		padding: 4px;
		margin: 3px;
		border-radius: 3px;
		font-size: 1.2em;
		min-width: 120px;
		text-align: left;

		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#templateListContainer .deleting {
		opacity: 0;
	}

	#templateListContainer .templateName {
		font-weight: bold;
	}
	
	#templateListContainer .usedBy {
		font-size: .6em;
	}
	
	#templateListContainer .templateIcons {
		position: inline-block;
		float:right;
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#templateListContainer .template:hover .templateIcons {
		opacity: 1;
	}

	#templateListContainer .requestList {
		position: inline-block;
		float: left;
		width: 50%;
		text-align: left;
	}

	#templateListContainer .requestList .template {
		background-color: #C3E6FC;
	}

	#templateListContainer .responseList .template {
		background-color: #C8F6C8;
	}

	
	#templateListContainer .responseList {
		position: inline-block;
		float: right;
		width: 50%;
		text-align: right;
	}

	#templateListContainer .header {
		font-weight: bold;
		font-size: 1.3em;
	}
	
	#templateListContainer .icon-plus {
		vertical-align: baseline;
	}

	

	#testListContainer.fadeInTestList{
		opacity: 1.0;
	}

	.hideTestList{
		display: none;
	}

	#testListContainer {
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}
	

	#testListContainer .test {
		display: inline-block;
		background-color: beige;
		padding: 4px;
		margin: 3px;
		border-radius: 3px;
		font-size: 1.2em;

		text-align: left;

		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#testListContainer .deleting {
		opacity: 0;
	}

	#testListContainer .testName {
		font-weight: bold;
	}

	#testListContainer .setups {
		font-size: .6em;
	}

	#testListContainer .testIcons {
		position: inline-block;
		float:right;
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#testListContainer .test:hover .testIcons {
		opacity: 1;
	}





	
	#helperListContainer.fadeInHelperList{
		opacity: 1.0;
	}

	#helperListContainer {
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#helperListContainer .search {
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
	}

	#helperListContainer .helper {
		display: inline-block;
		background-color: #E3BBED;
		padding: 4px;
		margin: 3px;
		border-radius: 3px;
		font-size: 1.2em;
		min-width: 120px;
		text-align: left;

		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#helperListContainer .deleting {
		opacity: 0;
	}

	#helperListContainer .helperName {
		font-weight: bold;
	}

	#helperListContainer .usedBy {
		font-size: .6em;
	}

	#helperListContainer .helperIcons {
		position: inline-block;
		float:right;
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#helperListContainer .helper:hover .helperIcons {
		opacity: 1;
	}

	

	#templateContainer.fadeInTemplate{
		opacity: 1.0;
	}

	#templateContainer {
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}


	

	#search {
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
	}


	#testContainer.fadeInTest {
		opacity: 1.0;
	}

	.hideTest{
		display: none;
	}

	#testContainer {
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#testContainer .method {
		width: 95px;
	}

	#testContainer .protocol {
		width: 80px;
	}

	#testContainer .resource {
		width: 400px;
	}
	#testContainer .requestBody {
		height: 75px;
		width: 500px;
		border-radius: 4px;
		border-color: rgb(204, 204, 204);
		border-style: solid;
		border-width: 1px;
	}
	#testContainer .invalidjson {
		display: none;
	}
	#testContainer .qs-name, #testContainer .header-name {
		width: 100px;
	}
	#testContainer .templateName {
		margin: 2px;
		padding: 3px;
		border-radius: 5px;
		background-color: lightblue;
	}


	#testContainer .ace_scrollbar {
		display: none !important;
	}
