	
	#menu.menu {
		text-align: center;
		width: 1200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#menu .menuItem {
		display: inline-block;
		margin: 5px;
		padding: 3px;
		font-size: 20pt;
		color: gray;
		transition: color .3s;
		-webkit-transition: color .3s;
	}

	#menu .menuItem:hover {
		color: black;
	}

	#menu .active {
		color: black;
	}

	#menu .menuPointer {
		height: 8px;
		line-height: 8px;
		margin-bottom: 1px;
		width: 24px;
		transition: margin-left .6s;
		-webkit-transition: margin-left .6s;
	}

	#menu .suiteActive {
		margin-left: 418px;
	}

	#menu .templatesActive {
		margin-left: 528px;
	}

	#menu .testsActive {
		margin-left: 643px;
	}

	#menu .helpersActive {
		margin-left: 742px;
	}

	#menu .save {
		float:left;
		margin-top: -12px;
	}

	#menu .suiteClose {
		float:right;
		margin-top: -12px;
	}



	.itemContainer {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;

		width: 1200px;
		border-style: solid;
		border-color: #888888;
		border-width: 1px 0px;;

		text-align: center;
	}
 
