
	#runContainer.fadeInRun{
		opacity: 1.0;
	}

	#runContainer {
		padding-left: 25px;
		padding-right: 35px;
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#runContainer .runnable {
		display: inline-block;
		background-color: gray;
		padding: 4px;
		margin: 3px;
		border-radius: 3px;
		font-size: 1.2em;

		text-align: left;

		transition: background-color .5s;
		-webkit-transition: background-color .5s;
	}

	#runContainer .running {
		background-color: blue;
	}

	#runContainer .success {
		background-color: green;
	}

	#runContainer .failed {
		background-color: red;
	}





	#runContainer .resultsContainer {
		text-align: left;
	}

	#runContainer .result div {
		display: inline-block;
	}

	#runContainer .result .setup, #runContainer .result .teardown {
		border-radius: 4px;
		height: 8px;
		width: 8px;
		background-color: transparent;
		border-style: solid;
		border-width: 1px;
		border-color: gray;
	}

	#runContainer .result .test {
		border-radius: 6px;
		height: 12px;
		width: 12px;
		background-color: transparent;
		border-style: solid;
		border-width: 1px;
		border-color: gray;
	}

	#runContainer .result .running {
		background-color: blue;
		border: none;
	}

	#runContainer .result .passed {
		background-color: green;
		border: none;
	}

	#runContainer .result .failed {
		background-color: red;
		border: none;
	}



