

	#templateContainer.fadeInTemplate{
		opacity: 1.0;
	}

	#templateContainer {
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#templateContainer .save {
		text-align: center;
		margin-top: 10px;
	}
	

