
	#testListContainer.fadeInTestList{
		opacity: 1.0;
	}

	.hideTestList{
		display: none;
	}

	#testListContainer {
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}


	#testListContainer .test {
		display: inline-block;
		background-color: beige;
		padding: 4px;
		margin: 3px;
		border-radius: 3px;
		font-size: 1.2em;

		text-align: left;

		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#testListContainer .deleting {
		opacity: 0;
	}

	#testListContainer .testName {
		font-weight: bold;
	}

	#testListContainer .setups {
		font-size: .6em;
	}

	#testListContainer .testIcons {
		position: inline-block;
		float:right;
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#testListContainer .test:hover .testIcons {
		opacity: 1;
	}

	#testListContainer .empty, #testListContainer .noMatches {
		font-size: 50px;
		line-height: 50px;
		color: #EEEEEE;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 18px;
	}

 
