

	#testContainer.fadeInTest {
		opacity: 1.0;
	}

	#testContainer {
		padding-left: 25px;
		padding-right: 35px;
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#testContainer .id {
		width: 300px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 15px;
	}

	#testContainer .testRequestContainer {
		float: left;
	}

	#testContainer .testResponseContainer {
		float: right;
	}

	#testContainer .testActionContainer {
		clear: both;
	}

	#testContainer .header {
		font-size: 18px;
		line-height: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}


	#testContainer .setupName, #testContainer .teardownName {
		display: inline-block;
		border-radius: 4px;
		padding: 2px;
		margin: 2px;
		border: solid 1px #CCCCCC;
		background-color: #E3BBED;
	}

	#testContainer .setupName i, 	#testContainer .teardownName i {
		opacity: 0;
	}

	#testContainer .setupName:hover i, #testContainer .teardownName:hover i {
		opacity: .7;
	}

	#testContainer .setupsContainer, #testContainer .teardownsContainer {
		margin-bottom: 15px;
	}

	#testContainer .setupsContainer .icon-move, #testContainer .teardownsContainer .icon-move {
		visibility: hidden;
	}

	#testContainer .setupsContainer .icon-trash, #testContainer .teardownsContainer .icon-trash {
		margin-bottom: -2px;
	}

	#testContainer .setupsContainer .newSetupIdContainer, #testContainer .teardownsContainer .newTeardownIdContainer {
		display: inline-block;
	}

	#testContainer .setupsContainer .newSetupId, #testContainer .teardownsContainer .newTeardownId {
		height: 20px;
		margin: 2px;
		padding: 2px;
		width: 150px;
		text-align: center;
	}
	
	#testContainer .empty {
		font-weight: bold;
		color: #CCCCCC;
	}
