
	#search {
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
	}


	#testContainer.fadeInTest {
		opacity: 1.0;
	}

	.hideTest{
		display: none;
	}

	#testContainer {
		opacity: 0;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
	}

	#testContainer .method {
		width: 95px;
	}

	#testContainer .protocol {
		width: 80px;
	}

	#testContainer .resource {
		width: 400px;
	}
	#testContainer .requestBody {
		height: 75px;
		width: 500px;
		border-radius: 4px;
		border-color: rgb(204, 204, 204);
		border-style: solid;
		border-width: 1px;
	}
	#testContainer .invalidjson {
		display: none;
	}
	#testContainer .qs-name, #testContainer .header-name {
		width: 100px;
	}
	#testContainer .templateName {
		margin: 2px;
		padding: 3px;
		border-radius: 5px;
		background-color: lightblue;
	}


	#testContainer .ace_scrollbar {
		display: none !important;
	}
 
